{% load i18n %}
    <div class="col-md-3">
        {% if employee_work_day_i == 1  %}
            <button id="admin-pdf-plan-weekly-generate-button-{{ employee_get_plans_w_d.id }}" class="btn btn-success" style="width: 100%;margin-bottom: 15px;" onclick="generateWeeklyPlanPdf('{% url 'userprofile:admin-pdf-plan-weekly-generate-ajax' employee_get_plans_w_d.id week_item %}',{{ employee_get_plans_w_d.id }})"><i class="fa fa-print"></i> {% trans 'Print' %}: {{ week_item }} {% trans 'week' %}</button>
        {% endif %}
        <ul class="todo-projects-container">
            <li class="todo-padding-b-0">
                <div class="todo-head">
{#                    <button class="btn btn-square btn-sm green todo-bold">{% trans 'Show Map' %}</button>#}
                    <h3>{% trans 'Week' %}: {{ week_item }}  |  {% trans 'Day' %}: {{ employee_work_day.day.get_day_name }} | </h3>
    {#                                                <p>4 Waiting Attention</p>#}
{#                pds{{ pdspdspds }}#}
                {% if employee_get_plans_w_d %}
{#                <p class="">#}
                <div class="mt-action-buttons " style="text-align: center;">
                    <div class="btn-group btn-group-circle">
                        <a target="_blank" onclick="onActionWeek('{% url 'userprofile:change-employee-plan-day-ajax' employee_get_plans_w_d.id %}',{{ employee_get_plans_w_d.id }},'{% trans 'Change' %}','{% trans 'Week' %}: {{ week_item }}  |  {% trans 'Day' %}: {{ employee_work_day.day.get_day_name }}')" href="javascript:void(0);" class="btn btn-outline yellow-crusta btn-sm"data-toggle="modal" data-target="#action-operation-modal">
                            {% trans 'Change' %}
                        </a>
                        <a target="_blank"  onclick="onActionWeek('{% url 'userprofile:move-employee-plan-day-ajax' employee_get_plans_w_d.id %}',{{ employee_get_plans_w_d.id }},'{% trans 'Move' %}','{% trans 'Week' %}: {{ week_item }}  |  {% trans 'Day' %}: {{ employee_work_day.day.get_day_name }}')" href="javascript:void(0);" class="btn btn-outline green btn-sm"  data-toggle="modal" data-target="#action-operation-modal">
                            {% trans 'Move' %}
                        </a>
                    </div>
                </div>
{#                </p>#}
{#                    {% else %}#}
{#                    lskalskalskal#}
                    {% endif %}
                </div>
            </li>