{% extends 'userprofile-base.html' %}
{% load static %}
{% load i18n %}
{% get_available_languages as languages %}
{% get_current_language as LANGUAGE_CODE %}

{% block title_container %}{% trans 'Change Password' %}{% endblock %}

{% block head_container %}

    <link href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.12.3/sweetalert2.css" rel="stylesheet"
          type="text/css"/>
    <style>
    .errorlist{
        margin-bottom: 0 !important;
    }
    </style>
{% endblock %}


{% block content_container %}

    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <!-- BEGIN PAGE HEAD-->
            <div class="page-head">
                <!-- BEGIN PAGE TITLE -->
                <div class="page-title">
                    <h1>{% trans 'Change Password' %}
                        {#                                <small>statistics, charts, recent events and reports</small>#}
                    </h1>
                </div>
            </div>
            <!-- END PAGE HEAD-->
            <!-- BEGIN PAGE BREADCRUMB -->
            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <a href="{% url 'userprofile:dashboard' %}">{% trans 'Dashboard' %}</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <span class="active">{% trans 'Change Password' %}</span>
                </li>
            </ul>
            <!-- END PAGE BREADCRUMB -->
            <!-- BEGIN PAGE BASE CONTENT -->


            <div class="row">
                <div class="col-lg-10 col-md-10 col-md-offset-1 col-lg-offset-1 col-xs-12 col-sm-12">
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-cursor font-dark hide"></i>
                                <span class="caption-subject font-dark bold uppercase">{% trans 'Change Password Form' %}</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <form method="post">
                                {% csrf_token %}
                                <div class="row">

                                </div>
                                <div class="row">
                                    <label class="col-sm-4 col-xs-12 label-on-left">{% trans 'Old Password' %}</label>
                                    <div class="col-sm-8">
                                        <div class="form-group label-floating">
                                            {{ form.old_password }}
                                            {% if form.old_password.errors %}
                                                <div class="alert alert-danger" style="padding: 7px 12px;">
                                                    <button style="margin: 5px 10px;" type="button" class="close"
                                                            data-dismiss="alert" aria-hidden="true">
                                                        ×
                                                    </button>
                                                    <strong>{{ form.old_password.errors }}</strong>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-4 col-xs-12">{% trans 'New Password' %}</label>
                                    <div class="col-sm-8">
                                        <div class="form-group label-floating">
                                            {{ form.new_password }}
                                            {% if form.new_password.errors %}
                                                <div class="alert alert-danger" style="padding: 7px 12px;">
                                                    <button style="margin: 5px 10px;" type="button" class="close"
                                                            data-dismiss="alert" aria-hidden="true">
                                                        ×
                                                    </button>
                                                    <strong>{{ form.new_password.errors }}</strong>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-4 col-xs-12">{% trans 'Repeat Password' %}</label>
                                    <div class="col-sm-8">
                                        <div class="form-group label-floating">
                                            {{ form.repeat_password }}
                                            {% if form.repeat_password.errors %}
                                                <div class="alert alert-danger" style="padding: 7px 12px;">
                                                    <button style="margin: 5px 10px;" type="button" class="close"
                                                            data-dismiss="alert" aria-hidden="true">
                                                        ×
                                                    </button>
                                                    <strong>{{ form.repeat_password.errors }}</strong>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <button type="submit"
                                        class="btn btn-md btn-circle red easy-pie-chart-reload pull-right"><i
                                        class="fa fa-repeat"></i>{% trans 'Change Password' %}
                                </button>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END PAGE BASE CONTENT -->
        </div>
        <!-- END CONTENT BODY -->
    </div>


{% endblock %}




{% block js_block %}


    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.12.3/sweetalert2.js"
            type="text/javascript"></script>
    {% if message %}

        <script>


            $(document).ready(function () {
                swal({
                    title: "{% trans 'Success' %}",
                    text: "{{ message }}",
                    buttonsStyling: false,
                    confirmButtonClass: "btn btn-success",
                    type: "success"
                });
            });
        </script>

    {% endif %}

        
    <script>
        currentMenu('profile-data');
    </script>

{% endblock %}