{% extends 'userprofile-base.html' %}
{% load static %}
{% load i18n %}
{% get_available_languages as languages %}
{% get_current_language as LANGUAGE_CODE %}

{% block title_container %}{% trans 'Add Customer Excel File' %}{% endblock %}

{% block head_container %}

    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="{% static 'theme/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css' %}" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->

{% endblock %}


{% block content_container %}

    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <!-- BEGIN PAGE HEAD-->
            <div class="page-head">
                <!-- BEGIN PAGE TITLE -->
                <div class="page-title">
                    <h1>{% trans 'Add Customer Excel File' %}
                        <small></small>
                    </h1>
                </div>
                <!-- END PAGE TITLE -->
            </div>
            <!-- END PAGE HEAD-->
            <!-- BEGIN PAGE BREADCRUMB -->
            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <a href="{% url 'userprofile:dashboard' %}">{% trans 'Dashboard' %}</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <span class="active">{% trans 'Add Customer Excel File' %}</span>
                </li>
            </ul>
            <!-- END PAGE BREADCRUMB -->
            <!-- BEGIN PAGE BASE CONTENT -->

            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN PORTLET-->
                    <div class="portlet light form-fit bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-settings font-green"></i>
                                <span class="caption-subject font-green sbold uppercase">{% trans 'Add Customer Excel File' %}</span>
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <!-- BEGIN FORM-->
                            <div>{{ form.errors }}</div>
                            <form action="" method="post" class="form-horizontal form-bordered"  enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-body">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">{% trans 'Excel File' %}</label>
                                        <div class="col-md-3">
                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                <div class="input-group input-large">
                                                    <div class="form-control uneditable-input input-fixed input-medium" data-trigger="fileinput">
                                                        <i class="fa fa-file fileinput-exists"></i>&nbsp;
                                                        <span class="fileinput-filename"> </span>
                                                    </div>
                                                    <span class="input-group-addon btn default btn-file">
                                                        <span class="fileinput-new"> {% trans 'Select file' %}</span>
                                                        <span class="fileinput-exists"> {% trans 'Change' %} </span>
                                                        {{ form.excelfile }}
                                                    </span>
                                                    <a href="javascript:;" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput"> {% trans 'Remove' %} </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-offset-3 col-md-9">
                                            <button type="submit" class="btn green">
                                                <i class="fa fa-check"></i> Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- END FORM-->
                        </div>
                    </div>
                    <!-- END PORTLET-->
                </div>
            </div>
            <!-- END PAGE BASE CONTENT -->
        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->

{% endblock %}




{% block js_block %}
    {% if message_code and message_code == 1 %}
        <script>
            swal(
              'Result',
                '{{ message }}',
              'success'
            )
        </script>
    {% elif message_code and message_code == 2 %}
        <script>
            swal(
              'Result',
                '{{ message }}',
              'error'
            )
        </script>
    {% elif message_code and message_code == 0 %}
    {% endif %}
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="{% static 'theme/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js' %}" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->

        
    <script>
        currentMenu('main-plan');
    </script>
{% endblock %}