{% extends 'userprofile-base.html' %}
{% load static %}
{% load i18n %}
{#{% load return_objects %}#}
{% get_available_languages as languages %}
{% get_current_language as LANGUAGE_CODE %}

{% block title_container %}{% trans 'All Plans' %}{% endblock %}

{% block head_container %}
        <link href="{% static 'theme/assets/apps/css/todo.min.css' %}" rel="stylesheet" type="text/css" />

{% endblock %}


{% block content_container %}

            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE BASE CONTENT -->
                    <div class="todo-main-header">
                        <h3>{{ employee.first_name }} {{ employee.last_name }}</h3>
                        <ul class="todo-breadcrumb">
                            <li>
                                <a href="{% url 'userprofile:dashboard' %}">{% trans 'Dashboard' %}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-lg-10 col-lg-offset-1 col-xs-12 col-sm-12">
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-cursor font-dark hide"></i>
                                        <span class="caption-subject font-dark bold uppercase">{% trans 'Print Plan' %}</span>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <a onclick="generatePlanPdf('{% url 'userprofile:admin-pdf-plan-generate-ajax' employee.id %}','{{ csrf_token }}')" id="admin-pdf-plan-generate-button" data-ajax-url="{% url 'userprofile:admin-pdf-plan-generate-ajax' employee.id %}"
                                               class="btn btn-md btn-circle red easy-pie-chart-reload" style="width: 100%;">
                                                <i class="fa fa-print"></i> {% trans 'Click here or Ctrl + P' %}
                                            </a>
                                        </div>
                                        <div class="col-md-12" style="text-align: center;display: none;" id="admin-pdf-plan-generate-loader">
                                            <img style="height: 40px;" src="{% static 'theme/assets/custom/images/loading2.gif' %}">
                                        </div>
                                        <hr class="col-md-12"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="todo-container" id="work-plan-container" data-ajax-url="{% url 'userprofile:admin-employee-plan-ajax' employee.id  %}">
                    </div>

                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->


<!-- Modal -->
<div id="todo-task-modal" class="modal fade" role="dialog">
  <div class="modal-dialog" style="left: 0;">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="edit-location-order-modal-name">Map</h4>
      </div>
      <div class="modal-body" id="ajax-employee-map-div">
      </div>
    </div>

  </div>
</div>


<!-- Modal -->
<div id="action-operation-modal" class="modal fade" role="dialog">
  <div class="modal-dialog" style="left: 0;">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="change-plan-week-action-title"></h4>
      </div>
      <div class="modal-body" id="">
          <form action="" id="change-plan-week-action-form">
            {% csrf_token %}
            <div class="form-group">
                <div class="input-group">
                    <label for="single-append-text" class="control-label">{% trans 'Select Week Day' %}</label>
                    {{ action_form.second_plan }}
                </div>
            </div>
            <div class="form-group">
                <a style="display: none;" id="change-plan-week-action-button" data-ajax-url="" class="btn btn-circle green btn-outline  btn-block">
                    <i class="fa fa-edit"></i>
                    {% trans 'Submit' %}
                </a>
            </div>
          </form>
      </div>
    </div>

  </div>
</div>


<div id="edit-location-order-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="edit-location-order-modal-name"></h4>
      </div>
      <div class="modal-body" id="edit-location-order-modal-body">
        <form>
            <div class="form-group">
                <label for="single-append-text" class="control-label">{% trans 'Select Employee' %}</label>
                <div class="input-group select2-bootstrap-append">
                    <select id="edit-location-order-modal-employee-select" class="form-control select2-allow-clear">

                    </select>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" data-select2-open="single-append-text">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label for="single-append-text" class="control-label">{% trans 'Week' %}</label>
                <div class="input-group select2-bootstrap-append">
                    <select id="edit-location-order-modal-employee-week-select" class="form-control select2-allow-clear">
                        <option value="">{% trans 'Choose Week' %}</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" data-select2-open="single-append-text">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label for="single-append-text" class="control-label">{% trans 'Work Day' %}</label>
                <div class="input-group select2-bootstrap-append">
                    <select id="edit-location-order-modal-employee-workday-select" class="form-control select2-allow-clear">

                    </select>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" data-select2-open="single-append-text">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label for="single-append-text" class="control-label">{% trans 'Location' %}</label>
                <div class="input-group select2-bootstrap-append">
                    <select id="edit-location-order-modal-employee-change-location-select" class="form-control select2-allow-clear">

                    </select>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" data-select2-open="single-append-text">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
            <div class="form-group">
                    <a style="display: none;" onclick="changePositionLocation()" id="change-position-location-button" data-ajax-url="" class="btn btn-circle green btn-outline  btn-block" data-toggle="modal" data-target="#edit-location-order-modal">
                        <i class="fa fa-edit"></i>
                        {% trans 'Change' %}
                    </a>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
      </div>
    </div>

  </div>
</div>
{% endblock %}


{% block footer_container %}
<script>

    function generateWeeklyPlanPdf($url,$id) {
        var main_print_div = $('#main-print-div');
        var admin_pdf_plan_generate_button = $('#admin-pdf-plan-weekly-generate-button-'+$id);
        var main_print_content_div = $('#main-print-content-div');
        // admin_pdf_plan_generate_button.hide();
        var succest_text_button = admin_pdf_plan_generate_button.html();
        admin_pdf_plan_generate_button.html('{% trans '<i class="fa fa-spinner" aria-hidden="true"></i> Please wait' %}');
        // admin_pdf_plan_generate_button.te();
        var $csrf = '{{ csrf_token }}';
        $.post($url, {'csrfmiddlewaretoken':$csrf})
            .done(function (data) {
                // console.log(data);
                // data_list_main_content.html(data['result'])
                // $("#action-operation-modal").modal('hide');
                // employeePlansShow();
                main_print_content_div.html(data['_html']);
                // admin_pdf_plan_generate_loader.hide();
                admin_pdf_plan_generate_button.html(succest_text_button);
                printData('main-print-div');
            });
    }
</script>
    <script src="{% static 'theme/assets/custom/employee_plans.js' %}" type="text/javascript"></script>

{% endblock %}
{% block js_block %}
        <script type="text/javascript">
            jQuery(document).bind("keyup keydown", function(e){
                if(e.ctrlKey && e.keyCode == 80){
                    generatePlanPdf('{% url 'userprofile:admin-pdf-plan-generate-ajax' employee.id %}','{{ csrf_token }}');
                    return false;
                }
            });
        </script>
        <div style="display: none;" >
            <div id="main-print-div">
                   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
                    <div id="main-print-content-div"></div>
            </div>
        </div>
    <script>
        currentMenu('main-plan');
    </script>
{% endblock %}